@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Luckiest+Guy&family=Space+Mono:wght@400;700&display=swap");

@theme {
  --font-space: "Space Mono", monospace;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-boldonse: "Boldonse", system-ui;
  --font-luckiest: "Luckiest Guy", cursive;
}

@import "tailwindcss";
