@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Boldonse&family=Luckiest+Guy&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@theme {
  --font-space: "Space Mono", monospace;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-boldonse: "Boldonse", system-ui;
  --font-luckiest: "Luckiest Guy", cursive;
  --font-archivo: "Archivo Black", sans-serif;
  --font-edu: "Edu SA Beginner", cursive;
  --font-staat: "Staatliches", sans-serif;
  --font-vast: "Vast Shadow", serif;
  --font-cormorant: "Cormorant", serif;
  --font-marker: "Permanent Marker", cursive;
}
@layer float1 {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-100px);
    }
  }

  .animate-float {
    animation: float 4s ease-in-out infinite;
  }
}
@layer float2 {
  @keyframes arrow {
    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }
  }

  .animate-arrow {
    animation: arrow 4s ease-in-out infinite;
  }
}
.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;

  --chars: 20;

  max-width: 0; /* começa fechado */
  animation: typing 2.4s steps(var(--chars), end) forwards;
}

@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: calc(var(--chars) * 1ch);
  }
}

@import "tailwindcss";
